.game-container {
  margin: 30px auto;
  max-width: 600px;
}

.game-container__board {
  text-align: center;
}

button.game-container__start-over {
  display: block;
}

.game-container__clickable-cube {
  cursor: pointer;
  background: rgba(36, 183, 85, 0.07);
}